@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.scroller {
  overflow-y: scroll;
}

.scroller::-webkit-scrollbar {
  width: 4px;
}

.scroller::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.scroller::-webkit-scrollbar-thumb {
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #343a40;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold;
}

.grey {
  color: grey;
}

.btn-brand {
  color: white;
  background: #0B273D;
}

.btn-brand:hover {
  color: #0B273D;
  background: white;
  border: 1px solid #0B273D;
}

.btn-brand-outline {
  color: #0B273D;
  background: white;
  border: 1px solid #0B273D;
}

.btn-brand-outline:hover {
  color: white;
  background: #0B273D;
}

.br-10px {
  border-radius: 10px;
}

.font-12px {
  font-size: 12px;
}

.border-brand {
  border: 1px solid #0B273D;
}

.data-key {
  font-size: 0px;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white !important;
  margin-left: 10vw;
  font-size: 14px;
}

.navbar-brand .logo-replace {
  height: 5vh;
  width: 5vh;
}

.our-nav {
  background: #0B273D;
}

.our-nav .nav-utilities {
  margin-right: 10vw;
}

.our-nav .nav-utilities .nav-item .nav-link {
  color: white !important;
  font-size: 12px;
  font-weight: 600;
}

.our-nav .nav-utilities .nav-item .nav-link .nav-user {
  height: 6vh;
  min-width: 10vw;
}

.our-nav .nav-utilities .nav-item .nav-link .nav-user .nav-image {
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.our-nav .nav-utilities .nav-item .nav-link .nav-user .nav-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.our-nav .nav-utilities .nav-item .dropdown-menu {
  background: #0B273D;
}

.our-nav .nav-utilities .nav-item .dropdown-menu a {
  color: white !important;
  font-size: 12px;
}

.our-nav .nav-utilities .nav-item .dropdown-menu a:hover {
  color: #0B273D !important;
}

.our-nav .nav-utilities .nav-item .dropdown-menu a:focus {
  background: #0B273D;
}

.special-input {
  min-height: 8vh;
  background: white;
}

.special-input input {
  background: inherit;
  border: none;
  font-size: 12px;
}

.special-input input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.special-input input::-webkit-input-placeholder {
  font-size: 12px;
  color: lightgray;
}

.special-input input:-ms-input-placeholder {
  font-size: 12px;
  color: lightgray;
}

.special-input input::-ms-input-placeholder {
  font-size: 12px;
  color: lightgray;
}

.special-input input::placeholder {
  font-size: 12px;
  color: lightgray;
}

.special-input button {
  font-size: 14px;
  height: 5vh;
}

@media (max-width: 767px) {
  .special-input button {
    margin-bottom: 10px;
  }
}

footer {
  min-height: 30vh;
  background: #707070;
}

footer .links-contact {
  min-height: 20vh;
}

footer .links-contact .tracker-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links-contact .tracker-copyright span {
  color: white;
  font-size: 12px;
}

footer .links-contact .tracker-copyright p {
  color: white;
  font-size: 10px;
  margin-top: auto;
}

footer .links-contact .site-links ul li {
  background: inherit;
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  word-wrap: break-word;
}

footer .links-contact .contact-details ul li {
  background: inherit;
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  word-wrap: break-word;
}

footer .subscribe-social .footer-subscribe span {
  font-size: 12px;
  color: white;
}

footer .subscribe-social .footer-subscribe input::-webkit-input-placeholder {
  font-size: 10px;
}

footer .subscribe-social .footer-subscribe input:-ms-input-placeholder {
  font-size: 10px;
}

footer .subscribe-social .footer-subscribe input::-ms-input-placeholder {
  font-size: 10px;
}

footer .subscribe-social .footer-subscribe input::placeholder {
  font-size: 10px;
}

footer .subscribe-social .footer-subscribe button {
  font-size: 10px;
}

footer .subscribe-social .footer-social .social-links .link-con {
  background: white;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

footer .subscribe-social .footer-social .social-links .link-con img {
  height: 60%;
  width: 100%;
}

.loading-overlay {
  min-height: 100vh;
  background-color: #0B273D;
}

.spinner-con {
  height: 10vh;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.user-details {
  min-height: 15vh;
}

.user-details .image-con {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
}

.user-details .image-con img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .user-details .data-con {
    text-align: center !important;
  }
}

.user-details .data-con p {
  font-size: 20px;
}

.user-details .data-con span {
  font-size: 14px;
}

.user-details .shared-saved-data p {
  font-size: 24px;
}

.user-details .shared-saved-data span {
  font-size: 12px;
  text-decoration: underline;
}

.project {
  min-height: 50vh;
  background: white;
}

.project .project-image img {
  height: 100%;
  width: 100%;
}

.project .project-details .title-removefrom {
  max-height: 10vh;
}

.project .project-details .title-removefrom span {
  font-size: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.project .project-details .title-removefrom h3 {
  cursor: pointer;
}

.project .project-details .title-removefrom h3:hover {
  text-decoration: underline;
}

.project .project-details .activity-status span {
  font-size: 12px;
}

.project .project-details .activity-status .status-designed {
  color: white;
  background: #0B273D;
  font-size: 10px;
}

.project .project-details .full-desc p {
  font-size: 12px;
}

.project .project-details .project-stats p {
  font-size: 12px;
}

.project .project-details .project-stats p span {
  color: #54D0ED;
}

.project .project-details .thumbs-comments span {
  font-size: 12px;
}
/*# sourceMappingURL=global.css.map */